body {
          max-width: 1200px;
          margin: auto;
          font-family:"微軟正黑體", "Space Mono", sans-serif;
          font-size: 18px;
          line-height: 1.4em;
          box-sizing: border-box;
        }

        /*.header {   
          background-color: #FFF; 
          background-image: linear-gradient(150deg,#FF8500 20%, transparent, #FFCC00 ); 
          color: #600;       
          padding: 8px 8px 15px 30px;         
          position: fixed;
          top: 0;         
          left: 0;
          width: 100%;
          z-index: 999;       
          margin: auto;
          opacity: 0.9;
          filter: alpha(opacity=90); // For IE8 and earlier 
        }*/ 
        header {
          width: 100%;
          margin: 0 auto;
          /*border: 1px solid blue;*/
        }
            .web_head {
              width: 90%;
              margin: 0 auto;
              /*border: 1px solid red;*/
            }
        .logo {
          display: inline;
           
        }
        .logo img {
          vertical-align: bottom;          
          margin-left: 5%;
          margin-top: 10px;
        }
        .bar {          /* 按鈕選單 */
          /*position: fixed;
          left: 10px;
          top: 140px;*/    
          width: 100%;  
          z-index: 1000;
          text-align: left;
          /*border: 1px solid green;*/
          display: inline;
          vertical-align: bottom;          
        }
        
        .btn { 
          text-align: left; 
          display: inline;
          text-transform: uppercase;
        }

        #cart {
          text-align: center;
          border: 0px solid orange;
          color: #600;
          padding: 0px;
          margin-top: 60px;
          margin-right: 30px;
          float: right;
        }
          #cart:hover {
            background-color: rgba(255,255,255,0);
            position: relative;
            color: #F60;
            top: 2px;
            left: 1px;
          }
          #cart:active {
            background-color: rgba(255,255,255,0);
            color: #F60;
            position: relative;
            top: 2px;
            left: 1px;
          }

        .btn li {
          display: inline-block;
          background-color: #FFF;
          border-left: 1px solid #999;
          padding: 5px 25px;
          margin: 0;          
          color: #999;
          font-size: 20px;
        }
        
        .btn li:hover {          
          color: #555;
          cursor: pointer;          
        }

        .btn li:active {          
          color: #555;
          cursor: pointer;
        }
        .phoneMenu li {
          cursor: pointer;
        }
        .phoneMenu li:hover {          
          color: #F60;                   
        }

        .topic {          
          margin: 15px auto;          
        }
        .theme-default #slider {
            margin:0 auto;
            width:95%; /* Make sure your images are the same size */
            
        }
        .nivoSlider img {            
            width:100%;
            height:300px;
            margin: 0 auto;
        }
        .phoneBar {
          display: none;
        }
        .phoneMenu {
          display: none;
        }
        .product {
            margin: 20px auto;
            width: 95%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;                 
        }

        p {            
            font-weight: 400;
            line-height: 1;
        }

        .promo .price {
            color: red;
            font-weight: 600;
        }
        .special {
            position: absolute;
            top: 10%;
            left: 20%;
            font-size: 14px;
            border-radius: 99px;
            background: #F03;
            padding: 18px 15px;
            color: #FF0;
            z-index: 20;
        }
        .img_box { 
            border:1px solid #CCC; 
            padding-top: 10px; 
            width: 265px;             
            text-align: center;  
            font-size: 20px;
            margin: 10px;
            box-shadow: 5px 5px 3px #CCC;
            overflow: hidden; 
        }

        img {
            width: 70%;
        }

        .buy {
            width: 65%;
            height: 55%;
            background-color: white;
            border: 5px dashed orange;
            border-radius: 100%;
            margin: 30px auto;            
        }

        .order {
            margin: 20px auto;
            width: 80%;            
        }

          .order input {
              text-align: center;
              font-size: 14pt;
              margin: 5px;
              width: 40%;
          }

          .order button {
              text-align: center;
              font-size: 12pt;
              margin: 5px;
              background-color: orange;
              border-radius: 5px;
              border: 0px solid orange;
              box-shadow: 2px 2px 2px #e6e6e6;
              padding: 5px;
          }
              .order button:hover {
                  box-shadow: 2px 2px 3px 1px #AAA;
              }
              .order button:active {
                  box-shadow: 2px 2px 3px 1px #C60 inset;
              }
        .view {          
           float: left;          
           overflow: hidden;
           position: relative;
           text-align: center;          
           cursor: default;
           padding: 0 auto;
           
        }

        .view .mask {
           width: 266px;
           height: 285px;
           position: absolute;
           overflow: hidden;
           z-index: 50;
           top: 0;
           left: 0;
           padding: 20px auto;          
        }

        .view img {          
           position: relative;
        }

        .view-fifth .mask {
           background-color: rgba(255,153,51,0.5);
           -webkit-transform: translate(-300px, 10px);
           -moz-transform: translate(-300px, 10px);
           -o-transform: translate(-300px, 10px);
           -ms-transform: translate(-300px, 10px);
           transform: translate(-300px, 10px);

           -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
           filter: alpha(opacity=100);
           opacity: 1;
           -webkit-transition: all 0.3s ease-in-out;
           -moz-transition: all 0.3s ease-in-out;
           -o-transition: all 0.3s ease-in-out;
           -ms-transition: all 0.3s ease-in-out;
           transition: all 0.3s ease-in-out;
        }       
        .view-fifth:hover .mask {
           -webkit-transform: translate(10px, 10px);
           -moz-transform: translate(10px, 10px);
           -o-transform: translate(10px, 10px);
           -ms-transform: translate(10px, 10px);
           transform: translate(10px, 10px);
        }        
         @media only screen and  (max-width: 1000px) {
          .btn {
            display: none;
          }
          .phoneBar {
            display: inline;
            vertical-align: bottom;
            float: right;
            color: #805300;
            font-size: 25px;
            border: 1px solid #805300;
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            margin-top: 30px;
            border-radius: 4px;
            cursor: pointer;                
          }
          .phoneMenu {
            width: 100px;
            padding: 5px;
            display: none;
            position: fixed;
            top: 75px;
            right: 10px;
            z-index: 10;    
            background-color: rgba(255,255,255,0.8);
            text-align: center; 
            border-radius: 3px; 
            border: 1px solid #805300;
          }
              .phoneMenu > ul {
                list-style: none;
                /*list-style-position: outside; */
                
                padding: 0;
              }
              .phoneMenu > ul > li{     
                margin: 5px auto;
                color: #805300;
              }
        }      
        @media only screen and (min-width: 320px) and (max-width: 480px), (orientation: portrait) {
          .img_box {
            width: 90%;
          } 
          img {
            width: 60%;
          }         
          .view .mask {
            width: 90%;
            height: 475px;
          }
          .view-fifth .mask {           
           -webkit-transform: translate(-800px, 10px);
           -moz-transform: translate(-800px, 10px);
           -o-transform: translate(-800px, 10px);
           -ms-transform: translate(-800px, 10px);
           transform: translate(-800px, 10px);
           -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
           filter: alpha(opacity=100);
           opacity: 1;
           -webkit-transition: all 0.3s ease-in-out;
           -moz-transition: all 0.3s ease-in-out;
           -o-transition: all 0.3s ease-in-out;
           -ms-transition: all 0.3s ease-in-out;
           transition: all 0.3s ease-in-out;
          }

          .view-fifth:active .mask {
           -webkit-transform: translate(12px, 10px);
           -moz-transform: translate(12px, 10px);
           -o-transform: translate(12px, 10px);
           -ms-transform: translate(12px, 10px);
           transform: translate(12px, 10px);
          }

          .buy {
            width: 55%;
            height: 60%;
            background-color: white;
            border: 5px dashed orange;
            border-radius: 100%;
            margin: 30px auto;            
          }

          .order {
            margin: 80px auto;
            width: 80%;            
          }

            .order input {                
                font-size: 18pt;
                margin: 10px;
            }

            .order button {
                text-align: center;
                font-size: 12pt;
                margin: 5px; 
                padding: 5px;                
            }
            
        }